<body>

  <div class="jumbotron col-7">
    <h1 class="display-4">Welcome to Your Podcast Collections! <a class="btn btn-dark btn-lg btnLeft" href="/"
        role="button">Home</a></h1>

    <div class="card-group" id="yourCollections">

      {{#each results}}
      <div class="card">
        <div class="card-header">{{collection_name}}</div>
        <div class="card-body">
          <p class="card-text">{{description}}</p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">website</th>
              </tr>
            </thead>
            <tbody>

              {{#each Podcasts}}
              <tr>
                {{!-- using math/increment helper (to start index at 1 instead of 1) that was put in the server.js code after handlebars loads --}}
                <th scope="row">{{inc @index}}</th>
                <td><img src="{{image}}" height="40" /></td>
                <td>{{title}}</td>
                <td>{{author}}</td>
                <td><a href="{{website}}" target="_blank">{{website}}</a></td>
              </tr>
              {{/each}}

            </tbody>
          </table>

          <button type="button" data-collectionId="{{id}}"
            class="deleteCollection micButton btn btn-danger btn-md fa fa-trash"> Delete</button>

          <form class="sendEmail">
            <input type="text" id="inputName" name="name" placeholder="enter friend's name here!">
            <input type="text" id="inputEmail" name="email" placeholder="enter friend's email here!">
            
            <button type="submit" data-collectionId="{{id}}"
              class="sendCollection micButton btn btn-dark btn-md fa fa-microphone"> Send
              Collection</button>
          </form>

        </div>
        {{/each}}

      </div>


      <p class="mt-5 mb-3 text-muted">Copyright &copy; 2020 Jenny, Andre, Nathan, Cohen. All Rights Reserved. </p>
    </div>

</body>